.footer-bs {
  position: absolute;
  width: 100%;
  min-height: 320px;
  bottom: 40px;
  left: 0;
}
#footer-parent-container {
  background-color: #13005a;
  max-width: fit-content;
  color: aliceblue;
}
#footer-main-row {
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-around;
}
#footer-form {
  width: max-content;
}
#footer-col-left {
  display: flex;
  width: 25.3333%;
  align-items: stretch;
  flex-flow: column wrap;
  flex-wrap: wrap;
}
#footer-col-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer-col-right {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  #footer-main-row {
    padding: 0px;
    gap: 0px;
  }
}
